.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;

  & h2 {
    margin-top: 24px;
    font-size: 2.4rem;
  }

  & h3 {
    margin-top: 24px;
    font-size: 2rem;
  }

  & p {
    margin-top: 12px;
    line-height: 1.6;
  }
}

.stackList {
  margin-top: 12px;
  padding-left: 24px;
  list-style: disc;

  & li {
    margin-top: 8px;
    line-height: 1.6;
  }
}
