<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="Description"
      content="jvega.dev is Jaime Vega's (front-end engineer and teach lead from Amsterdam) personal website."
    />
    <title>
      Jaime Vega's (front-end engineer and teach lead) personal website
    </title>
    <link rel="icon" href="data:," />
  </head>
  <body>
    <header class="main-header">
      <div class="header-container">
        <div class="name-title-container">
          <h1>Jaime Vega</h1>
          <h2><span>Front-end engineer / </span><span>Tech lead</span></h2>
        </div>
        <address class="contact-info-container">
          <div class="contact-line">
            <img
              id="emailIcon"
              class="icon-img"
              height="24px"
              width="24px"
              aria-hidden="true"
            />
            <a href="mailto:jaime.vega@gmail.com">jaime.vega@gmail.com</a>
          </div>
          <div class="contact-line">
            <img
              id="homeIcon"
              class="icon-img"
              height="24px"
              width="24px"
              aria-hidden="true"
            />
            <a href="https://www.jvega.dev">https//www.jvega.dev</a>
          </div>
          <div class="contact-line">
            <img
              id="linkedinIcon"
              class="icon-img"
              height="24px"
              width="24px"
              aria-hidden="true"
            />
            <a
              href="https://linkedin.com/in/jvegadev"
              target="_blank"
              rel="noopener noreferrer"
              >https://linkedin.com/in/jvegadev</a
            >
          </div>
        </address>
      </div>
    </header>

    <div id="appContainer"><!-- App will be rendered here --></div>
  </body>
</html>
