<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="Description"
      content="jvega.dev is Jaime Vega's (front-end engineer and teach lead from Amsterdam) personal website."
    />
    <title>
      Jaime Vega's (front-end engineer and teach lead) personal website
    </title>
    <link rel="icon" href="data:," />
  </head>
  <body>
    <div id="appContainer"><!-- App will be rendered here --></div>
  </body>
</html>
