.about-me .profile-pic-container {
  padding: 16px 16px 16px 0;
}

.about-me .profile-pic-container img {
  width: 100%;
  border-radius: 50%;
}

.about-me h2 {
  display: flex;
  align-items: center;
}

.about-me h2 .icon-img {
  height: 30px;
  width: 30px;
  margin-right: 12px;
}

.about-me h3 strong {
  font-weight: bold;
  text-transform: uppercase;
}

.disclaimer {
  display: flex;
  align-items: center;
  padding: 16px;
  margin-top: 24px;
  background-color: var(--accent-backgroud-color);
}

.disclaimer .exclamation {
  font-size: 13rem;
  padding: 0 16px 0 0;
}

.disclaimer .msg {
  font-size: 1.8rem;
}

@media (min-width: 560px) and (max-width: 767px) {
  .disclaimer {
    padding: 12px;
  }

  .disclaimer .exclamation {
    font-size: 10rem;
    padding: 0 8px 0 0;
  }
}

@media (min-width: 320px) and (max-width: 559px) {
  .about-me .profile-pic-container {
    padding: 12px 0;
    max-width: 300px;
    margin: 0 auto;
  }
}
